<section class="recommend pt-6 pt-md-15 mb-6 mb-md-15" data-aos="fade-up">
    <div class="container-lg">
      <h2 class="fw-bold mb-2 mb-md-6">猜你也喜歡...</h2>
      <div class="swiper-container">
        <ul class="recommend-list list-unstyled mb-0 swiper-wrapper">
          <li class="recommend-item swiper-slide">
            <a href="detail.html" class="d-block">
              <img src="assets/images/ricardo-gomez-angel-WxpnuLzqZN4-unsplash.jpg" alt="" class="w-100 img-cover ratio-1x1 mb-1">
              <h5 class="fw-bold mb-1">No.22 線上設計展</h5>
              <p class="fs-5">$350</p>
            </a>
          </li>
          <li class="recommend-item swiper-slide">
            <a href="detail.html" class="d-block">
              <img src="assets/images/petri-heiskanen-bR9gFJqAnzA-unsplash.jpg" alt="" class="w-100 img-cover ratio-1x1 mb-1">
              <h5 class="fw-bold mb-1">No.22 線上設計展</h5>
              <p class="fs-5">$350</p>
            </a>
          </li>
          <li class="recommend-item swiper-slide">
            <a href="detail.html" class="d-block">
              <img src="assets/images/museums-victoria-kiDwVL_5ZBY-unsplash.jpg" alt="" class="w-100 img-cover ratio-1x1 mb-1">
              <h5 class="fw-bold mb-1">No.22 線上設計展</h5>
              <p class="fs-5">$350</p>
            </a>
          </li>
        </ul>
        <div class="swiper-button-next text-primary"></div>
        <div class="swiper-button-prev text-primary"></div>
      </div>
    </div>
</section>
<footer>
    <div class="banner footer-banner pb-9 d-flex align-items-end" data-aos="zoom-in">
        <div class="container-lg">
            <div class="row">
                <div class="col-md-8 col-lg-6 col-xl-4">
                <p class="footer-subscribe fw-bold text-white mb-6 mb-md-3">
                    想收到最新消息嗎？<br>快訂閱我們！
                </p>
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control fs-6" placeholder="輸入您的電子信箱">
                    <input type="button" value="訂閱" class="btn btn-primary py-3 px-8 px-md-13 fs-6">
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-lg d-flex justify-content-between align-items-center py-4 py-md-7">
        <div class="copyright d-flex align-items-start flex-column align-items-md-center flex-md-row">
        <h4 class="me-4">EXHIBINECTION</h4>
        <span>© 2020. All Rights Reserved.</span>
        </div>
        <div class="justify-content-end align-items-center d-none d-md-flex">
        <div class="text-secondary me-6"><a href="#">Sign in</a></div>
        <div class="text-secondary"><a href="#">Sign up</a></div>
        </div>
    </div>
</footer>