<nav class="border border-secondary border-top-0 bg-white">
    <div class="d-flex justify-content-center align-items-center">
        <ul class="scrollbar-menu overflow-auto d-flex list-unstyled m-0">
        <li class="underline me-5"><a href="product.html" class="d-block px-5 pt-4 pb-md-4 pb-2 link-secondary text-nowrap">音樂</a></li>
        <li class="underline me-5"><a href="product.html" class="d-block px-5 pt-4 pb-md-4 pb-2 link-secondary text-nowrap">戲劇</a></li>
        <li class="underline me-5 <% if (current == 'product') {%> active <%}%>"><a href="product.html" class="d-block px-5 pt-4 pb-md-4 pb-2 link-secondary text-nowrap">設計</a></li>
        <li class="underline me-5"><a href="product.html" class="d-block px-5 pt-4 pb-md-4 pb-2 link-secondary text-nowrap">藝術</a></li>
        <li class="underline me-5"><a href="product.html" class="d-block px-5 pt-4 pb-md-4 pb-2 link-secondary text-nowrap">美食</a></li>
        <li class="underline me-5"><a href="product.html" class="d-block px-5 pt-4 pb-md-4 pb-2 link-secondary text-nowrap">旅遊</a></li>
        <li class="underline me-5"><a href="product.html" class="d-block px-5 pt-4 pb-md-4 pb-2 link-secondary text-nowrap">電影</a></li>
        <li class="underline me-5"><a href="product.html" class="d-block px-5 pt-4 pb-md-4 pb-2 link-secondary text-nowrap">親子</a></li>
        <li class="underline"><a href="product.html" class="d-block px-5 pt-4 pb-md-4 pb-2 link-secondary text-nowrap">期間限定</a></li>
        </ul>
    </div>
</nav>