<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>

<body>
  <header class="toolbar border border-secondary border-bottom-0 py-4 py-md-7">
    <div class="container-lg d-flex justify-content-center align-items-center position-relative">
      <h1 class="text-primary-dark fs-md-4 fs-5 "><a href="index.html">EXHIBINECTION</a></h1>
      <div class="d-flex ustify-content-end align-items-center position-absolute top-50 end-0 translate-middle-y">
        <div class="text-secondary me-8 d-none d-md-block"><a href="#">Sign in</a></div>
        <div class="text-secondary me-8 d-none d-md-block"><a href="#">Sign up</a></div>
        <button class="btn btn-link d-flex position-relative">
          <span class="material-icons">confirmation_number</span>
          <span class="position-absolute top-0 end-0 badge rounded-pill bg-primary">3</span>
        </button>
      </div>
    </div>
  </header>
  <% if (current == 'index') { %>
  <section class="banner h-480p d-flex align-items-center" style="background-image: url('assets/images/ricardo-gomez-angel-UrOZTfXT0h0-unsplash.jpg');">
    <div class="container-lg">
      <div class="row">
        <div class="col-md-4 offset-md-1 text-white">
          <h2 class="fw-bold mb-2">台北當代藝術展</h2>
          <h5 class="fw-bold mb-4">01 JUN - 31 OCT</h5>
          <div class="d-flex justify-content-start">
            <a href="#" class="btn btn-primary py-3 px-sm-12 px-9 me-2 text-nowrap">購買票券</a>
            <a href="#" class="btn btn-outline-white py-3 px-sm-12 px-9 text-nowrap">詳細資訊</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% } %>
  <nav class="border border-secondary sticky-top bg-white">
    <div class="d-flex justify-content-center align-items-center">
      <ul class="menu d-flex list-unstyled m-0">
        <li class="menu-item me-5"><a href="product.html" class="d-block px-5 pt-4 pb-md-4 pb-2 link-secondary text-nowrap">音樂</a></li>
        <li class="menu-item me-5"><a href="product.html" class="d-block px-5 pt-4 pb-md-4 pb-2 link-secondary text-nowrap">戲劇</a></li>
        <li class="menu-item me-5 <% if (current == 'product') {%> active <%}%>"><a href="product.html" class="d-block px-5 pt-4 pb-md-4 pb-2 link-secondary text-nowrap">設計</a></li>
        <li class="menu-item me-5"><a href="product.html" class="d-block px-5 pt-4 pb-md-4 pb-2 link-secondary text-nowrap">藝術</a></li>
        <li class="menu-item me-5"><a href="product.html" class="d-block px-5 pt-4 pb-md-4 pb-2 link-secondary text-nowrap">美食</a></li>
        <li class="menu-item me-5"><a href="product.html" class="d-block px-5 pt-4 pb-md-4 pb-2 link-secondary text-nowrap">旅遊</a></li>
        <li class="menu-item me-5"><a href="product.html" class="d-block px-5 pt-4 pb-md-4 pb-2 link-secondary text-nowrap">電影</a></li>
        <li class="menu-item me-5"><a href="product.html" class="d-block px-5 pt-4 pb-md-4 pb-2 link-secondary text-nowrap">親子</a></li>
        <li class="menu-item"><a href="product.html" class="d-block px-5 pt-4 pb-md-4 pb-2 link-secondary text-nowrap">期間限定</a></li>
      </ul>
    </div>
  </nav>
  <main>
    <%- contents %>
  </main>
  <section class="recommend pt-6 pt-md-15 mb-6 mb-md-15">
    <div class="container-lg">
      <h2 class="fw-bold mb-2 mb-md-6">猜你也喜歡...</h2>
      <div class="swiper-container">
        <ul class="recommend-list list-unstyled mb-0 swiper-wrapper">
          <li class="recommend-item swiper-slide">
            <a href="detail.html" class="d-block">
              <img src="assets/images/ricardo-gomez-angel-WxpnuLzqZN4-unsplash.jpg" alt="" class="w-100 img-cover ratio-1x1 mb-1">
              <h5 class="fw-bold mb-1">No.22 線上設計展</h5>
              <p class="fs-5">$350</p>
            </a>
          </li>
          <li class="recommend-item swiper-slide">
            <a href="detail.html" class="d-block">
              <img src="assets/images/petri-heiskanen-bR9gFJqAnzA-unsplash.jpg" alt="" class="w-100 img-cover ratio-1x1 mb-1">
              <h5 class="fw-bold mb-1">No.22 線上設計展</h5>
              <p class="fs-5">$350</p>
            </a>
          </li>
          <li class="recommend-item swiper-slide">
            <a href="detail.html" class="d-block">
              <img src="assets/images/museums-victoria-kiDwVL_5ZBY-unsplash.jpg" alt="" class="w-100 img-cover ratio-1x1 mb-1">
              <h5 class="fw-bold mb-1">No.22 線上設計展</h5>
              <p class="fs-5">$350</p>
            </a>
          </li>
        </ul>
        <div class="swiper-button-next text-primary"></div>
        <div class="swiper-button-prev text-primary"></div>
      </div>
    </div>
  </section>
  <footer>
    <div class="banner footer-banner pb-9 d-flex align-items-end">
      <div class="container-lg">
        <div class="row">
          <div class="col-md-8 col-lg-6 col-xl-4">
            <p class="footer-subscribe fw-bold text-white mb-6 mb-md-3">
              想收到最新消息嗎？<br>快訂閱我們！
            </p>
            <div class="input-group input-group-lg">
              <input type="text" class="form-control fs-6" placeholder="輸入您的電子信箱">
              <input type="button" value="訂閱" class="btn btn-primary py-3 px-8 px-md-13 fs-6">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-lg d-flex justify-content-between align-items-center py-4 py-md-7">
      <div class="copyright d-flex align-items-start flex-column align-items-md-center flex-md-row">
        <h4 class="me-4">EXHIBINECTION</h4>
        <span>© 2020. All Rights Reserved.</span>
      </div>
      <div class="justify-content-end align-items-center d-none d-md-flex">
        <div class="text-secondary me-6"><a href="#">Sign in</a></div>
        <div class="text-secondary"><a href="#">Sign up</a></div>
      </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</body>

</html>
