@each $ratio, $value in $aspect-ratios {
    .ratio-#{$ratio} {
        aspect-ratio: $value;
    }
}

@each $breakpoints, $value in $grid-breakpoints {
    $next: breakpoint-next($breakpoints);
    @if $next != null {
        @include media-breakpoint-up($next) {

            @each $ratio, $value in $aspect-ratios {
                .ratio-#{$next}-#{$ratio} {
                    aspect-ratio: $value;
                }
            }
        }
    }
}

.img-cover {
    object-fit: cover;
}

.banner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-indent {
    text-indent: 2rem;
}

.over-container {
    @include mobile {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: -15px;
        margin-right: -15px;
    }
}

.underline {
    position: relative;
    &::after {
        width: 100%;
        position: absolute;
        content: '';
        height: 1px;
        background-color: $primary;
        transition: opacity .5s;
        bottom: 15%;
        left: 0px;
        opacity: 0;
    }
    &:hover::after, &.active::after {
        opacity: 1;
    }
}