@mixin mobile {
    @include media-breakpoint-down("md") {
        @content;
    }
};

@mixin not-mobile {
    @include media-breakpoint-up("md") {
        @content;
    }
};

@mixin customScrollbar($color: $primary, $opacity: 1, $background: #E9ECEF, $size: 2px) {
    &:hover::-webkit-scrollbar-thumb {
        background-color: $color;
    }
    &::-webkit-scrollbar {
        height: $size;
        width: $size;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba($color, $opacity);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: $background;
    }
}