.toolbar {
    margin-bottom: -1px;
}

.logo {
    font-size: $h4-font-size;

    @include mobile {
        font-size: 22px;
    }
}

.product-banner {
    height: 480px;
}

.menu {
    overflow-x: scroll;
    @include not-mobile {
        &::-webkit-scrollbar {
          display: none;
        }
    }
}

.menu-item {
    position: relative;
    &::after {
        width: 100%;
        position: absolute;
        content: '';
        height: 1px;
        background-color: $primary;
        transition: opacity .5s;
        bottom: 10px;
        opacity: 0;
    }
    &:hover::after, &.active::after {
        opacity: 1;
    }
}